@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,800&display=swap");

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: #333333;
}

sup {
  top: -5px;
  font-size: 65%;
  font-weight: 100;
}
small {
  font-weight: 500;
}

h1 {
  font-size: 1.5em;
  font-weight: 800;
}

h2 {
  font-size: 1.3em;
  font-weight: 500;
}

h3 {
  font-size: 1.1em;
  font-weight: 400;
}

h4 {
  font-size: 0.9em;
  font-weight: 400;
}

h5 {
  font-size: 0.7em;
  font-weight: 300;
}

h6 {
  font-size: 0.5em;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: unset;
}

.circle {
  border-radius: 50%;
}
