@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap");

.homepage-hero {
  width: 100%;
  height: 33vh;
  font-size: 15vw;
  text-shadow: 0 0 20px white;
  background-image: url(/img/hero.jpg);
  background-size: cover;
  font-family: "Playfair Display", serif;
}

.homepage-card-container {
}

.homepage-cat-card {
  position: relative;
  height: 8vh;
  flex: 1;
  background-color: white;
  margin: 10px 5px;
  border-radius: 2px;
  overflow: hidden;
}

.homepage-cat-card-content {
  z-index: 1;
  color: white;
  text-shadow: 0 0 20px black;
}

.cat-electro::before {
  background-image: url(/img/catElectronic.jpg);
  background-size: cover;
  display: inline-block;
  width: 32vw;
  height: 15vh;
  content: "";
  position: absolute;
  left: 0px;
  filter: blur(2px) brightness(0.8);
}

.cat-food::before {
  background-image: url(/img/catFood.jpg);
  background-size: cover;
  display: inline-block;
  width: 32vw;
  height: 15vh;
  content: "";
  position: absolute;
  left: 0px;
  filter: blur(2px) brightness(0.8);
}

.cat-home::before {
  background-image: url(/img/catHome.jpg);
  background-size: cover;
  display: inline-block;
  width: 32vw;
  height: 15vh;
  content: "";
  position: absolute;
  left: 0px;
  filter: blur(2px) brightness(0.8);
}

.cat-office::before {
  background-image: url(/img/catOffice.jpg);
  background-size: cover;
  display: inline-block;
  width: 32vw;
  height: 15vh;
  content: "";
  position: absolute;
  left: 0px;
  filter: blur(2px) brightness(0.8);
}
