.homepage-hero {
  position: relative;
  width: 100%;
  height: 33vh;
  font-size: 15vw;
  text-shadow: 0 0 20px white;
  background-image: url(/img/hero.jpg);
  background-size: cover;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
}

.homepage-featured {
  position: relative;
  width: 100%;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 8px;
  margin: 7vh 0;
}

.homepage-card-containter {
  width: 100%;
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 50px;
}

.homepage-card-containter > div {
  position: relative;
}

.homepage-cat-container {
  margin: 3.5vh 1vw 0;
}

.homepage-cat-card {
  position: relative;
  height: 11vh;
  flex: 1;
  background-color: white;
  margin: 10px 1px;
  border-radius: 2px;
  overflow: hidden;
}

.homepage-cat-card-content {
  text-transform: uppercase;
  z-index: 1;
  color: white;
  text-shadow: 0 0 20px black;
  letter-spacing: 3px;
  font-size: 2vh;
}

.cat-electro::before {
  background-image: url(/img/electronic.jpg);
  background-size: cover;
  display: inline-block;
  width: 32vw;
  height: 15vh;
  content: "";
  position: absolute;
  left: 0px;
  filter: blur(2px) brightness(0.8);
}

.cat-food::before {
  background-image: url(/img/food.jpg);
  background-size: cover;
  display: inline-block;
  width: 32vw;
  height: 15vh;
  content: "";
  position: absolute;
  left: 0px;
  filter: blur(2px) brightness(0.8);
}

.cat-home::before {
  background-image: url(/img/home.jpg);
  background-size: cover;
  display: inline-block;
  width: 32vw;
  height: 15vh;
  content: "";
  position: absolute;
  left: 0px;
  filter: blur(2px) brightness(0.8);
}

.cat-office::before {
  background-image: url(/img/office.jpg);
  background-size: cover;
  display: inline-block;
  width: 32vw;
  height: 15vh;
  content: "";
  position: absolute;
  left: 0px;
  filter: blur(2px) brightness(0.8);
}

@media (min-width: 700px) {
}
