nav {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 6px #33333312;
  background-color: #f7f7f7;
}

.logo {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.9;
}

.user {
  width: 50px;
  height: 100%;
}

.cart-container {
  position: fixed;
  top: 0; /* required */
  left: 0;
  margin: 0;
}

.cart {
  position: absolute;
  left: 80vw;
  top: 75vh;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 5px #33333378;
}

.cart-icon {
  height: 2em;
  width: 2em;
}

.cart-quantity {
  position: relative;
  top: -50px;
  right: -26px;
  height: 20px;
  width: 20px;
  background-color: #333333;
  color: white;
}

.seachbar {
  position: relative;
  right: calc(-100% + 76px);
}

.search-input {
  position: absolute;
  height: 33px;
  right: -1px;
  bottom: 0px;
  width: 26px;
  color: transparent;
  background-color: transparent;
  transition: ease-in-out 300ms all;
}
.search-input:focus,
.search-input:active {
  width: 200px;
  right: 30px;
  color: #333333;
  background-color: #f6f6f6;
}

.search-button {
  width: 24px;
  height: 24px;
  transition: ease-in-out 300ms all;
}
.search-input:active ~ .search-button,
.search-input:focus ~ .search-button {
  width: 28px;
  height: 28px;
}

.search-icon {
  width: inherit;
  height: inherit;
}

@media only screen and (min-width: 700px) {
  /* For desktop view: */
  .cart {
    left: 91vw;
    top: 80vh;
  }
}
