.productpage-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: 50% 35%;
}

.carousel-wrapper {
  position: relative;
  height: 60vh;
}
.carousel-wrapper .carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.carousel-wrapper .carousel-item .arrow {
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
.carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
}
.carousel-wrapper .carousel-item.light {
  color: white;
}
@media (max-width: 480px) {
  .carousel-wrapper .carousel-item .arrow,
  .carousel-wrapper .carousel-item.light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}
.carousel-wrapper [id^="target-item"] {
  display: none;
}
.carousel-wrapper .item-0 {
  z-index: 2;
  opacity: 1;
}
.carousel-wrapper *:target ~ .item-0 {
  opacity: 0;
}
.carousel-wrapper #target-item-0:target ~ .item-0 {
  opacity: 1;
}
.carousel-wrapper #target-item-1:target ~ .item-1,
.carousel-wrapper #target-item-2:target ~ .item-2,
.carousel-wrapper #target-item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}
